<app-loading-screen [isLoading]="isLoading"></app-loading-screen>
<div *ngIf="isLoading == false">
    <div class="search-container">
        <input type="text" [(ngModel)]="searchString"
            placeholder="Pesquise por CPF, nome, sobrenome, nome de usuário ou telefone..."
            title="Pesquise por ID, nome, sobrenome, nome de usuário ou telefone..."
            (input)="searchUser(searchString, estList)" />
    </div>
    <table>
        <thead>
            <tr>
                <th>ID do usuário</th>
                <th>Foto</th>
                <th>CPF</th>
                <th>Nome Completo</th>
                <th>Telefone</th>
                <th>Função</th>
            </tr>
        </thead>
        <tbody>
            <tr key={key} *ngFor="let user of listaUsuarios | paginate: { itemsPerPage: 5, currentPage: page }">
                <td>{{user.usuId}}</td>
                <td style="display: flex; align-items: center; justify-content: center;">
                    <section class="imgSection">
                        <div class="fotoUser">
                            <img [src]="user.foto || userImg" alt="Foto" style="width: 65px" />
                        </div>
                    </section>
                </td>
                <td>{{user.usuPerId.perCedula}}</td>
                <td>{{user.usuPerId.perNombre + ' '+user.usuPerId.perApellido}}</td>
                <td>{{'+55 '+user.usuPerId.perTelefono}}</td>
                <td>{{user.rolId.rolNombre}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div style="display: flex; justify-content: center; position: relative; bottom: 0; margin-top: 1%; width: 100%;">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Seguinte"
        class="my-pagination"></pagination-controls>
</div>
<app-buttom-menu></app-buttom-menu>