<body>
    <section class="navigation">
        <p class="title">
            Imóveis Portal CIC
        </p>
        <p class="name">
            Proprietário Da Empresa
        </p>
        <p>
            <img class="profile-pic"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQurna6a42SpKe38ovPipim3STLIjTlU0uXuw&usqp=CAU"
                alt="Profile Pic">
        </p>
        <p class="name">
            Bill Gates
        </p>
    </section>

    <section class="page-content">
        <div class="content">

            <div class="row">
                <div class="column">
                    <a><i class="fas fa-user fa-3x"></i>
                        <h2><strong>Usuários</strong></h2>
                    </a>
                    <p class="data">{{usuarios}}</p>
                </div>
                <div class="column">
                    <a><i class="fas fa-home fa-3x"></i>
                        <h2><strong>Alugueis</strong></h2>
                    </a>
                    <p class="data">{{aluguels}}</p>
                </div>
            </div>
            <div class="full-width">
                <a>Content for div 3</a>
            </div>
        </div>
    </section>
</body>
<app-buttom-menu></app-buttom-menu>