<app-loading-screen [isLoading]="isLoading"></app-loading-screen>
<div *ngIf="isLoading == false">
    <div class="search-container">
        <input type="text" [(ngModel)]="searchString"
            placeholder="Pesquise por nome, sobrenome, ou endereço..."
            title="Pesquise por nome, sobrenome, ou endereço..."
            (input)="searchAluguel(searchString, estList)" />
        <label>
            <input type="checkbox" class="ios-switch green  bigswitch" [(ngModel)]="estList"
                (change)="cambiarEstList(estList ? 1 : 0)" />
            <div>
                <div></div>
            </div>
        </label>
    </div>
    <table>
        <thead>
            <tr>
                <th *ngIf="rol == 'Administrador'">ID do alugel</th>
                <th>Valor Do Aluguel</th>
                <th>Endereço</th>
                <th *ngIf="rol == 'Administrador'">Proprietário do inmovel</th>
                <th>Inquilino que está alugando</th>
                <th *ngIf="rol == 'Administrador'">Expiração</th>
                <th *ngIf="rol == 'Administrador'">Dia De Pagamento</th>
                <th>Foto De Historial De Entrada</th>
                <th>Foto De Historial De Saída</th>
                <th>Contrato</th>
                <th *ngIf="rol == 'Administrador'">Comprovante De Pagamento</th>
                <th>Status De Pagamento</th>
                <th *ngIf="rol == 'Administrador'">Status De Aluguel</th>
                <th *ngIf="rol == 'Administrador'">Ver mais</th>
            </tr>
        </thead>
        <tbody>
            <tr key={key} *ngFor="let alugue of listAluguel | paginate: { itemsPerPage: 3, currentPage: page }">
                <td *ngIf="rol == 'Administrador'">{{alugue.aluId}}</td>
                <td>{{'R$'+alugue.aluValor}}</td>
                <td>{{alugue.aluEndereco}}</td>
                <td *ngIf="rol == 'Administrador'">{{alugue.aluPropietario.usuPerId.perNombre+'
                    '+alugue.aluPropietario.usuPerId.perApellido}}</td>
                <td>{{alugue.aluInquilino.usuPerId.perNombre+' '+alugue.aluInquilino.usuPerId.perApellido}}</td>
                <td *ngIf="rol == 'Administrador'">{{alugue.aluExpiracao | date:'dd/MM/yyyy'}}</td>
                <td *ngIf="rol == 'Administrador'">{{alugue.aluDiaPago}}</td>
                <td>
                    <section class="imgSection">
                        <div class="fotoUser">
                            <img [src]="alugue.aluFotoEntrada || userImg" alt="Foto" style="width: 65px" />
                        </div>
                        <div class="btnFotoUser" [hidden]="!alugue.aluFotoEntrada">
                            <button class="BtnDown" title="Descarga"
                                (click)="downloadImage(alugue.aluFotoEntrada || userImg, ('fotoEntrada_'+alugue.aluEndereco))">
                                <svg class="svgIcon" viewBox="0 0 384 512" height="1em"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                    </path>
                                </svg>
                                <span class="icon2"></span>
                            </button>
                        </div>
                    </section>
                </td>
                <td>
                    <section class="imgSection">
                        <div class="fotoUser">
                            <img [src]="alugue.aluFotoSaida || userImg" alt="Foto" style="width: 65px" />
                        </div>
                        <div class="btnFotoUser" [hidden]="!alugue.aluFotoSaida">
                            <button class="BtnDown" title="Descarga"
                                (click)="downloadImage(alugue.aluFotoSaida || userImg, ('fotoSaida_'+alugue.aluEndereco))">
                                <svg class="svgIcon" viewBox="0 0 384 512" height="1em"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                    </path>
                                </svg>
                                <span class="icon2"></span>
                            </button>
                        </div>
                    </section>
                </td>
                <td>
                    <div class="btnFotoUser" [hidden]="alugue.aluContrato">
                        <label for="upload{{ alugue.aluId }}" class="file-upload-label">
                            <input type="file" name="upload{{ alugue.aluId }}"
                                (change)="onFileChange(alugue.aluId, $event)" [(ngModel)]="alugue.aluContrato"
                                id="upload{{ alugue.aluId }}" class="upload-box" placeholder="Upload File"
                                style="display: none;" accept=".pdf">
                            <img src="assets/imgs/subir.png" width="30px" alt="">
                        </label>
                    </div>
                    <div class="btnFotoUser" [hidden]="!alugue.aluContrato">
                        <button class="BtnDown" title="Descarga"
                            (click)="downloadFile(alugue.aluContrato || userImg, ('contrato_'+alugue.aluEndereco))">
                            <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                </path>
                            </svg>
                            <span class="icon2"></span>
                        </button>
                    </div>
                </td>
                <td class="tdTbl" *ngIf="rol == 'Administrador'">
                    <ng-container *ngIf="alugue.aluComprovante; else noInfo">
                        <button role="button" class="button-name" (click)="previewBase64PDF(alugue.aluComprovante, 'Comprovante_'+
                            alugue.aluInquilino.usuPerId.perNombre+' '+alugue.aluInquilino.usuPerId.perApellido)">
                            <i class="fa fa-regular fa-eye fa-2x"></i>
                        </button>
                    </ng-container>
                    <ng-template #noInfo>
                        Sem Comprovante
                    </ng-template>
                </td>
                <td>
                    {{alugue.aluComprovante?'Pago':'Não Pago'}}
                </td>
                <td *ngIf="rol == 'Administrador'">
                    {{alugue.aluEstado == 1?'Ativo':'Inativo'}}
                </td>
                <td *ngIf="rol == 'Administrador'">
                    <a [routerLink]="['/infoAluguel/'+alugue.aluId]"><i class="fas fa-plus fa-3x"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="display: flex; justify-content: center; position: relative; bottom: 0; margin-top: 1%; width: 100%;">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Seguinte"
        class="my-pagination"></pagination-controls>
</div>
<app-buttom-menu></app-buttom-menu>