<body>
    <form>
        <div id="formulario">
            <h1> {{editeMode? 'EDITAR ALUGUEL' : 'CADASTRO DE ALUGUEL'}} </h1>
        </div>

        <div id="tabla-formulario">

            <label for="endereço">Endereço do inmovel(*)</label>
            <input placeholder="Digite o endereço..." name="fendereco" type="text" id="tabla"
                [(ngModel)]="aluguel.aluEndereco">

            <label for="prop">Proprietário do inmovel (*)</label>
            <select name="fprop" [(ngModel)]="aluguel.aluPropietario.usuId" id="tabla">
                <option [disabled]="true" value="0">Selecione Proprietário</option>
                <option *ngFor="let prop of listPropietarios" [value]="prop.usuId">
                    {{ prop.usuPerId.perNombre+' '+prop.usuPerId.perApellido }}
                </option>
            </select>

            <label for="inq">Inquilino que está alugando (*)</label>
            <select name="finq" [(ngModel)]="aluguel.aluInquilino.usuId" id="tabla">
                <option [disabled]="true" value="0">Selecione Inquilino</option>
                <option *ngFor="let inq of listInquilinos" [value]="inq.usuId">
                    {{ inq.usuPerId.perNombre+' '+inq.usuPerId.perApellido }}
                </option>
            </select>

            <label for="expiraçao">Expiração (*) </label>
            <input name="fexpiraçao" type="date" id="tabla" [(ngModel)]="aluguel.aluExpiracao">

            <label for="diapagamento">Dia De Pagamento (*) </label>
            <input name="fdiapag" type="number" id="tabla" [(ngModel)]="aluguel.aluDiaPago">

            <label for="valor">Valor do inmovel(*)</label>
            <input placeholder="Digite o valor do inmovel..." name="fvalor" type="number" id="tabla"
                [(ngModel)]="aluguel.aluValor">

            <label for="fotoEntrada">Foto De Historial De Entrada (*)</label>
            <div class="upload-wrapper">
                <input type="file" name="uploadEntrada" (change)="onFileChangeEntrada($event)" id="uploadEntrada"
                    class="upload-box" placeholder="Upload File" accept=".doc,.docx">
                <button *ngIf="aluguel.aluFotoEntrada" type="button" (click)="removeEntrada()">Excluir</button>
            </div>

            <label for="fotoSaida">Foto De Historial De Saída</label>
            <div class="upload-wrapper">
                <input type="file" name="uploadSaida" (change)="onFileChangeSaida($event)" id="uploadSaida"
                    class="upload-box" placeholder="Upload File" accept=".doc,.docx">
                <button *ngIf="aluguel.aluFotoSaida" type="button" (click)="removeSaida()">Excluir</button>
            </div>

            <label for="contrato">Contrato</label>
            <div class="upload-wrapper">
                <input type="file" name="uploadContrato" (change)="onFileChangeContrato($event)" id="contrato"
                    class="upload-box" placeholder="Upload File">
                <button *ngIf="aluguel.aluContrato" type="button" (click)="removeContrato()">Excluir</button>
            </div>

        </div>
        <button name="registro" id="button" (click)="editeMode? editar() : registrar()">{{editeMode? 'EDITAR!' :
            'CADASTRAR!'}} </button>
    </form>
</body>

<app-buttom-menu></app-buttom-menu>