<app-loading-screen [isLoading]="isLoading"></app-loading-screen>
<div *ngIf="isLoading == false" class="container">
    <div class="propietarios">
        <div class="search-container">
            <input type="text" [(ngModel)]="searchString"
                placeholder="Pesquise por CPF, nome, sobrenome, nome de usuário ou telefone..."
                title="Pesquise por ID, nome, sobrenome, nome de usuário ou telefone..."
                (input)="searchUser(searchString, 1)" />
        </div>
        <table>
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>CPF</th>
                    <th>Nome Completo</th>
                    <th>Telefone</th>
                    <th>Função</th>
                    <th>OPÇÃO</th>
                </tr>
            </thead>
            <tbody>
                <tr key={key} *ngFor="let user of listaUsuarios | paginate: { itemsPerPage: 5, currentPage: page1 }">
                    <td style="display: flex; align-items: center; justify-content: center;">
                        <section class="imgSection">
                            <div class="fotoUser">
                                <img [src]="user.foto || userImg" alt="Foto" style="width: 65px" />
                            </div>
                        </section>
                    </td>
                    <td>{{user.usuPerId.perCedula}}</td>
                    <td>{{user.usuPerId.perNombre + ' '+user.usuPerId.perApellido}}</td>
                    <td>{{'+55 '+user.usuPerId.perTelefono}}</td>
                    <td>{{user.rolId.rolNombre}}</td>
                    <td class="col-7"><button class="centered-button"
                            (click)="selectPessoa(user.usuId,user.rolId.rolId)">Selecione</button></td>
                </tr>
            </tbody>
        </table>
        <div class="pagination-container">
            <pagination-controls (pageChange)="page1 = $event" previousLabel="Anterior" nextLabel="Seguinte"
                class="my-pagination"></pagination-controls>
        </div>
    </div>

    <div class="valor centrado">
        <h1 for="endereço">Valor inicial do imóvel (*)</h1>
        <input placeholder="Digite o valor inicial do imóvel..." name="fvalor" type="number" id="tabla"
            class="bonito-input" [(ngModel)]="valorInicial">
    </div>

    <div class="valor centrado">
        <h1 for="endereço">Pagamento do imóvel (*)</h1>
        <input placeholder="Digite o pagamento do imóvel..." name="fvalor" type="number" id="tabla" class="bonito-input"
            [(ngModel)]="pagamento">
    </div>

    <div class="valor centrado">
        <h1 for="endereço">Plazo (em meses) (*)</h1>
        <input placeholder="Digite o plazo do imóvel..." name="fvalor" type="number" id="tabla" class="bonito-input"
            [(ngModel)]="plazo">
    </div>

    <div class="valor centrado">
        <h1 for="endereço">Caução (*)</h1>
        <input placeholder="Digite o caução do imóvel..." name="fvalor" type="number" id="tabla" class="bonito-input"
            [(ngModel)]="caucao">
    </div>

    <div class="valor centrado">
        <h1 for="estado">Cidade (*)</h1>
        <select name="festado" [(ngModel)]="cidade" id="tabla" class="bonito-select">
            <option [disabled]="true">Selecione um estado</option>
            <option *ngFor="let cid of cidadesParana" [value]="cid.name">
                {{ cid.name }}
            </option>
        </select>
    </div>

    <div class="valor centrado">
        <button class="centered-button" (click)="criarContrato()">Gerar Contrato</button>
    </div>
</div>
<app-buttom-menu></app-buttom-menu>