<body>
    <form>
        <div id="formulario">
            <h1> {{editeMode? 'EDITAR USUÁRIO' : 'CADASTRO DE USUÁRIO'}}</h1>
        </div>

        <div id="tabla-formulario">

            <label for="foto">Foto Da Pessoa</label>
            <div class="upload-wrapper">
                <input type="file" name="upload" (change)="onFileChange($event)" [(ngModel)]="Usuario.foto" id="upload"
                    class="upload-box" placeholder="Upload File" accept="image/*">
                <button *ngIf="Usuario.foto" type="button" (click)="removeFile()">Excluir</button>
            </div>

            <label for="cpf">CPF (*)</label>
            <input placeholder="Por exemplo: 12345678900" name="fcpf" type="text" id="tabla"
                [(ngModel)]="Persona.perCedula">

            <label for="rg">RG (*)</label>
            <input placeholder="Por exemplo: A123456B" name="frg" type="text" id="tabla" [(ngModel)]="Persona.perRG">

            <label for="estado">Estado Civil (*)</label>
            <select name="festado" [(ngModel)]="Persona.perEstadoCivil" id="tabla">
                <option [disabled]="true" [value]="0">Selecione um estado</option>
                <option *ngFor="let est of estados" [value]="est.name">
                    {{ est.name }}
                </option>
            </select>

            <label for="nacionalidade">Nacionalidade (*)</label>
            <select name="fnacionalidade" [(ngModel)]="Persona.perNacionalidade" id="tabla">
                <option [disabled]="true" value="0">Selecione uma nacionalidade</option>
                <option *ngFor="let pais of pais" [value]="pais.name">
                    {{ pais.name }}
                </option>
            </select>

            <label for="nome">Nome (*)</label>
            <input placeholder="Digite o nome..." name="fnombre" type="text" id="tabla" [(ngModel)]="Persona.perNombre">

            <label for="sobrenome">Sobrenomes (*)</label>
            <input placeholder="Digite o sobrenome..." name="fapellido" type="text" id="tabla"
                [(ngModel)]="Persona.perApellido">

            <label for="email">E-mail (*) </label>
            <input placeholder="Digite o email..." name="femail" type="text" id="tabla" [(ngModel)]="Usuario.usuCorreo">

            <label for="endereço">Endereço (*) </label>
            <input placeholder="Digite o endereço..." name="fendereco" type="text" id="tabla"
                [(ngModel)]="Persona.perDireccion">

            <label for="telefone">Telefone (*) </label>
            <input placeholder="Por exemplo: 41999999999" name="ftelefone" type="text" id="tabla"
                [(ngModel)]="Persona.perTelefono">

            <label for="data">Data De Nascimento (*) </label>
            <input name="ffatanasc" type="date" id="tabla" [(ngModel)]="Persona.perFechaNacimiento">

            <label for="função">Função (*)</label>
            <select name="ffunção" [(ngModel)]="Usuario.rolId.rolId" [disabled]="rol != 'Administrador'" id="tabla">
                <option [disabled]="true" value="0">Selecione a função</option>
                <option *ngFor="let rol of listaRoles" [value]="rol.rolId">
                    {{ rol.rolNombre }}
                </option>
            </select>

            <label for="usuario">Usuário (*)</label>
            <input placeholder="Digite o usuário..." name="fusuario" type="text" id="tabla"
                [(ngModel)]="Usuario.usuNombreUsuario">

            <label for="senha">Senha (*)</label>
            <input placeholder="Digite a senha..." name="fsenha" type="password" id="tabla"
                [(ngModel)]="Usuario.usuContrasena">

            <label for="consenha">Confirmar Senha (*)</label>
            <input placeholder="Digite a senha de novo..." name="fconseha" type="password" id="tabla"
                [(ngModel)]="confirmarPass">
        </div>
        <button name="registro" id="button" (click)="editeMode? editar() : registrar()">{{editeMode? 'EDITAR!' :
            'CADASTRAR!'}} </button>
    </form>
</body>


<!--buttom-->
<app-buttom-menu></app-buttom-menu>