<!--panel-->
<div class="flex items-center justify-center h-full">
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        <a *ngIf="rol == 'Administrador'" [routerLink]="['/usuarios']"
            class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Usuários</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Aqui você pode gerenciar os usuários que estão cadastrados no sistema
            </p>
        </a>
        <a [routerLink]="route()"
            class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{rol == 'Administrador' ?
                'Aluguéis':'Veja Seu Aluguel'}}</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                {{rol == 'Administrador' ?'Aqui você pode cadastrar seus aluguéis e gerenciar o que for necessário.'
                :'Aqui você pode ver mais detalhes sobre o aluguel em que está atualmente.'}}
            </p>
        </a>
    </div>
</div>

<app-buttom-menu></app-buttom-menu>